<div class="user-panel">
    <div>
        <img src="assets/user.svg" alt="user">
        <div>
            <h4>Teacher</h4>
            <div>
                <h5>25 Quizzes created</h5>
                <h5>1 Quiz in progress</h5>
            </div>
        </div>
    </div>
    <ul class="user-actions-list">
        <li class="user-action-item">
            <button>Update a quiz</button>
        </li>
        <li class="user-action-item">
            <button>Profile</button>
        </li>
        <li class="user-action-item">
            <button>Logout</button>
        </li>
    </ul>
</div>