<nav class="navbar">
    <div class="logo-wrapper">
        <div class="logo-image-wrapper">
            <img src="assets/logo.png" />
        </div>
    </div>
    <h3>Dashboard</h3>
</nav>
<div>
    <h3 class="header-text">
        Good morning, Welcome back
    </h3>
    <section class="section">
        <div class="user-panel">
            <app-user-details></app-user-details>
        </div>
        <div class="quizzes-panel">
            <app-quizzes-details></app-quizzes-details>
        </div>
    </section>
</div>